<body class="login-container-body">
<div class="login-container">
  <div class="content-box">
    <form class="login-form">
      <div class="form-group">
        <label class="form-label">User name: </label>
        <input class="form-input" type="text" name="username" [(ngModel)]="user.username" placeholder="input your username" autofocus required>
      </div>
      <div class="form-group">
        <label  class="form-label">Password: </label>
        <input class="form-input" type="password" name="password" [(ngModel)]="user.password" placeholder="input your password" required>
      </div>
    </form>
    <button type="submit" class="login-btn" (click)="submitForm(user.username, user.password)">Login</button>
  </div>

  <div class="side-image-box">
    <img class="image" src="../../../favicon.ico" alt="">
  </div>
</div>

</body>
