.login-container-body{
  .login-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    background-color: antiquewhite;
    left: 0;
    right: 0;
    top: 10%;
    margin: auto;
    width: 640px;
    height: 480px;
    .content-box {
      flex: 1;
      height: 100%;
      .login-btn {
        cursor: pointer;
        left: 0;
        background-color: #EEE;
        margin: 0.5em;
        padding: 4px;
        border-radius: 3px;
        height: 1.8em;
      }
    }
    .side-image-box{
      flex: 1;
      background-color: #4ff7ff;
      height: 100%;
      width: 100%;
      .image{
        height: 30%;
        width: 50%;
        margin: 138px 77px;
      }
    }
  }
}

.login {
  padding: 200px 20px;
}

.login > form {
  border: solid 1px #999;
  padding: 20px;
  border-radius: 5px;
}
